{{ define "main" }}
    <section style="text-align: center; margin-top: 5vh;">
        <h1 style="font-size: 2.5rem; margin-bottom: 0; letter-spacing: 2px;">COMING SOON</h1>
        <p style="opacity: 0.6; font-size: 1rem;; font-family: monospace; margin-bottom: 2rem;">> drafting_technical_writeups.sh</p>
        
        <!-- Custom ASCII Art -->
        <pre style="
            color: var(--text-color); 
            font-family: monospace; 
            font-size: 1.2rem; 
            line-height: 1.1; 
            text-align: left; 
            display: inline-block;
            opacity: 0.8;
            user-select: none;
            overflow-x: auto;
            max-width: 100%;
        ">   
             __.-/|
             \`o_O'
              =( )=  +-------------+
                U|   | COMING SOON |
      /\  /\   / |   +-------------+
     ) /^\) ^\/ _)\       |
     )   /^\/   _) \      |
     )   _ /  / _)  \_____|_
 /\  )/\/ ||  | )_)\_____,|))
<  >      |(,,) )__)      |
 ||      /    \)___)\
 | \____(      )___) )____
  \______(_______;;;)__;;;)



        </pre>
    </section>
{{ end }}