{{ define "main" }}
    <section style="text-align: center; margin-top: 10vh;">
        <h1 style="font-size: 4rem; margin-bottom: 0; color: var(--accent);">404</h1>
        <h2 style="font-family: monospace; opacity: 0.8; font-weight: normal;">> Error: Command not found.</h2>
        
        <p style="margin-top: 2rem; opacity: 0.7;">
            The requested process has been terminated or the endpoint does not exist.
        </p>
        
        <div style="margin-top: 3rem;">
            <a href="/" style="border: 1px solid var(--link-color); padding: 0.75rem 1.5rem; border-radius: 5px; font-weight: bold;">
                cd ~/home
            </a>
        </div>
    </section>
{{ end }}